---
- include: creds.yml
- name: Provision Openstack resources
  block:
  - name: Translate PinFile declaration to ansible resources list
    set_fact:
      resources: "{{ resources.resource_definitions | expand_count | expand_sg | expand_server }}"

  # Provision by role needed for resource dependency handling
  # For example os_volume has to be deployed before os_server
  # Its a crude method to handle dependencies but sufficient in the scope
  # of resource deployment
  - name: Provision resources by role
    include: "provision_role.yml"
    loop: "{{ roles }}"
      - os_security_group
      - os_security_group_rule
      - os_volume
      - os_object
      - os_keypair
      - os_heat
      - os_network
      - os_subnet
      - os_router
      - os_server
    loop_control:
      loop_var: role
  when: state == "present"

- name: "Teardown Openstack resources"
  block:
  - include: topology_data.yml
  # To handle resource dependencies, teardown will be called
  # multiple times to destroy all possible resources that
  # don't have dependencies (tree leafs). It will be done
  # in recursion until all resources removed or it reaches the
  # limit 10 levels (shouldn't be possible).
  - include: teardown.yml
    vars:
      done: false
      max_retries: 10

  when: state == "absent"
